aioredis==1.0.0
asgiref==2.2.0
async-timeout==2.0.1
attrs==17.4.0
autobahn==18.3.1
automat==0.6.0
channels==2.0.2
channels-redis==2.1.1
constantly==15.1.0
daphne==2.1.0
Django==2.0.3
django-cors-headers==2.2.0
django-filter==1.1.0
djangorestframework==3.8.2
fleep==1.0.1
hiredis==0.2.0
hyperlink==18.0.0
idna==2.6
incremental==17.5.0
markdown==2.6.11
msgpack==0.5.6
psycopg2==2.7.4
pypiwin32==223
pytz==2018.3
pywin32==223
redis==2.10.6
six==1.11.0
twisted==18.4.0rc1
txaio==2.9.0
zope.interface==4.4.3
